/*import fonts from google*/
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

/* asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*General styles*/
body {
    display: flex;
    flex-direction: column;
    font-family: "Sixtyfour", sans-serif;
    text-align: center;
}

header {
    background-color: teal;
    height: 70px;
    box-shadow: 0 10px 10px darkred;
    z-index: 99;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    font-size: 20px;
    margin-top:-5px;
    color: indigo;
    text-decoration: none;
    text-align:left;
}

#menu {
    list-style-type: none;
}

#menu li a{
    color: indigo;
}
#menu>li{
    margin-bottom:1em;
    font-size:1.5em
}

.active {
    border-bottom: 2px solid #ad054b;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: teal;
    width: 100%;
    left: 0;
    padding: 1em 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 70px;
    box-shadow: 0 10px 10px darkred;

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

#nav-toggle.active{
    color:rgb(255, 0, 255)
}

main {
    background-color: yellowgreen;
}

footer {
    background-color: red;
    position: fixed;
    bottom: 0;
    min-height: 100px;
    max-height: 200px;
    width: 100%;
    flex-direction: row
}

footer h4 {
    padding: 10px 0
}

h1 {
    font-style: italic;
    padding: 20px 0
}


/*hyperlink style*/
a {
    color: indigo;
    text-decoration: none
}

a:hover {
    color: pink;
    text-decoration: underline
}

footer a {
    color: rgb(27, 207, 192)
}

footer a:hover {
    color: rgb(146, 211, 27);
    text-decoration: underline
}

#links {
    justify-content: space-evenly;
    list-style-type: none;
}

#logo-section{
    height:600px
}

#cover-text{
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgb(255, 123, 0);
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
@media screen and (max-width:992) {}