/*import fonts from google*/
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

/* asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*General styles*/
body {
    display: flex;
    flex-direction: column;
    font-family: "Sixtyfour", sans-serif;
    text-align: center;
}

header {
    background-color: teal;
    height: 70px;
    box-shadow: 0 10px 10px darkred;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

header h1 {
    position: relative;
    top: -18px;
    font-size: 20px;
    color: indigo;
    text-decoration: none;
    text-align: left;
    font-style: italic;
}

.hidden-heading {
    display: none
}


#menu {
    list-style-type: none;
}

#menu li a {
    color: indigo;
}

#menu>li {
    margin-bottom: 5px;
    font-size: 1.5em
}

#menu li a:hover {
    color: rgb(253, 171, 185)
}

.active {
    border-bottom: 2px solid #ad054b;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: teal;
    width: 100%;
    left: 0;
    padding: 0.5em 0.5em;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 70px;
    box-shadow: 0 10px 10px darkred;

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 3em;
    padding: 10px 10px;
}

.nav-toggle-label:hover {
    color: rgb(255, 0, 255)
}

.nav-toggle-label.active {
    color: rgb(255, 0, 255)
}

/*main styles*/
main {
    background-color: yellowgreen;
}


/*footer styles*/
footer {
    background-color: red;
    bottom: 0;
    min-height: 100px;
    max-height: 200px;
    width: 100%;
    flex-direction: row;
    position: relative;
    bottom: 0px
}

footer h4 {
    padding: 10px 0
}

/*hyperlink style*/
a {
    color: indigo;
    text-decoration: none
}

a:hover {
    color: pink;
    text-decoration: underline
}

footer a {
    color: rgb(27, 207, 192)
}

footer a:hover {
    color: rgb(146, 211, 27);
    text-decoration: underline
}

#links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 2em
}

#logo-section {
    height: 600px
}

#logo {
    max-height: 600px;
    max-width: 600px;

}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgb(255, 123, 0);
    position: absolute;
    bottom: 30px;
    width: 80%;
    max-width: 300px;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    text-transform: underline
}

#aboutushead {
    color: purple;
    text-align: end;
    padding-bottom: 14px;
    font-size: 2em
}

#aboutus>div>h3 {
    color: #ad054b
}

#rock {
    text-align: start;
    padding: 15px;
}

#roll {
    text-align: end;
    padding: 15px;
}

#rock>h3,
#roll>h3 {
    padding-bottom: 7px
}

/*Images page styles*/

#photos img {
    width: 100%;
    line-height: 1em
}

#photos {
    line-height: 0
}

/*signup page styles*/
#signup {
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 15px;
}

#signup-form>h4 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
}

.radio-buttons div {
    padding-bottom: 6px
}

.join-button {
    margin-top: 6px;
    border-radius: 2px;
    padding: 6px 6px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

.join-button:hover {
    background-color: #fafafaaf;
    color: #454b1b;
}

@media screen and (min-width:400px) {
    #cover-text {
        min-height: 00px;
        padding: 15px;
    }
}

@media screen and (min-width:500px) {
    #logo {
        width: 90%
    }
}

@media screen and (min-width:550px) {
    header>a>h1 {
        font-size: 2em;
        position: relative;
    }

    #logo {
        width: 80%
    }
}

@media screen and (min-width:576px) {
    #photos {
        column-count: 2;
        column-gap: 0
    }
}

@media screen and (min-width:670px) {
    header>a>h1 {
        left: 15px;
        top: 1px;
    }

    #logo {
        width: 70%
    }
}

@media screen and (min-width:768px) {
    #photos {
        column-count: 3
    }
}

@media screen and (min-width:870px) {
    #logo {
        position: absolute;
        right: 40px
    }

    #cover-text {
        height: 300px;
        width: 300px;
        padding-top: 100px;
        position: relative;
        left: 20px;
        top: 200px
    }

    #cover-text>h3,
    #cover-text>h2 {
        font-size: 2em
    }

}

@media screen and (min-width:1135px) {
    header>a>h1 {
        font-size: 3em
    }

    #aboutus {
        display: flex
    }

    #cover-text {
        height: 500px;
        min-width: 500px;
        padding-top: 170px;
        position: relative;
        left: 5%;
        top: 120px
    }

    #cover-text>h3,
    #cover-text>h2 {
        font-size: 3em
    }
}